# Enable BuildKit by default:
# https://docs.docker.com/develop/develop-images/build_enhancements
DOCKER_BUILDKIT=1

# https://docs.docker.com/compose/environment-variables/envvars/
COMPOSE_PROJECT_NAME=vouch
# In development we want all services to start but in production you don't
# need the asset watchers to run since assets get built into the image.
#
# You can even choose not to run postgres and redis in prod if you plan to use
# managed cloud services. Everything "just works", even optional depends_on!
COMPOSE_PROFILES=postgres,redis,backend,celery,flower,kanchi,mail,tailwind,jupyter

# If you're running native Linux and your uid:gid isn't 1000:1000 you can set
# these to match your values before you build your image. You can check what
# your uid:gid is by running `id` from your terminal.
# UID=1000
# GID=1000

# In development avoid writing out bytecode to __pycache__ directories.
#PYTHONDONTWRITEBYTECODE=
PYTHONDONTWRITEBYTECODE=true

# You should generate a random string of 50+ characters for this value in prod.
# You can generate a secure secret by running: ./run secret
SECRET_KEY=this-is-insecure-local-environment-dev-key-only

# This should never be set to true in production but it should be enabled in dev.
# DEBUG=false
DEBUG=true
ENV=dev
ENVIRONMENT_NAME=Development
ENVIRONMENT_COLOR=#808080
IS_STAGE=false
IS_PROD=false
IS_TEST=false

COMPRESS_ENABLED=false

# A comma separated list of allowed hosts. In production this should be your
# domain name, such as "example.com,www.example.com" or ".example.com" to
# support both example.com and all sub-domains for your domain.
#
# This is being overwritten in development to support multiple Docker dev
# environments where you might be connecting over a local network IP address
# instead of localhost. You should not use "*" in production.
# ALLOWED_HOSTS=".localhost,127.0.0.1,[::1]"
ALLOWED_HOSTS="*" # This is insecure, only use in development.
SITE_URL=http://127.0.0.1:8000

# Timezone for your server
TIME_ZONE="Europe/London"

# The bind port for gunicorn.
#
# Be warned that if you change this value you'll need to change 8000 in both
# your Dockerfile and in a few spots in docker-compose.yml due to the nature of
# how this value can be set (Docker Compose doesn't support nested ENV vars).
# PORT=8000
# DB_PORT=5432

# How many workers and threads should your app use? WEB_CONCURRENCY defaults
# to the server's CPU count * 2. That is a good starting point. In development
# it's a good idea to use 1 to avoid race conditions when debugging.
# WEB_CONCURRENCY=
WEB_CONCURRENCY=1
# PYTHON_MAX_THREADS=1

# Do you want code reloading to work with the gunicorn app server?
# WEB_RELOAD=false
WEB_RELOAD=true

# Postgres
POSTGRES_DB=vouch
POSTGRES_USER=vouch
POSTGRES_PASSWORD=vouch
POSTGRES_HOST=db

# Connection string to Redis. This will be used for the cache back-end and for
# Celery. You can always split up your Redis servers later if needed.
CELERY_BROKER_URL=redis://redis:6379/0

# You can choose between DEBUG, INFO, WARNING, ERROR, CRITICAL or FATAL.
# DEBUG tends to get noisy but it could be useful for troubleshooting.
# CELERY_LOG_LEVEL=info

# Should Docker restart your containers if they go down in unexpected ways?
# DOCKER_RESTART_POLICY=unless-stopped
DOCKER_RESTART_POLICY=no

# What health check test command do you want to run? In development, having it
# curl your web server will result in a lot of log spam, so setting it to
# /bin/true is an easy way to make the health check do basically nothing.
# DOCKER_WEB_HEALTHCHECK_TEST=curl localhost:8000/up
DOCKER_WEB_HEALTHCHECK_TEST=/bin/true

# What ip:port should be published back to the Docker host for the app server?
# If you're using Docker Toolbox or a custom VM you can't use 127.0.0.1. This
# is being overwritten in dev to be compatible with more dev environments.
#
# If you have a port conflict because something else is using 8000 then you
# can either stop that process or change 8000 to be something else.
#
# Use the default in production to avoid having gunicorn directly accessible to
# the internet without assistance from a cloud based firewall.
# DOCKER_WEB_PORT_FORWARD=127.0.0.1:8000
DOCKER_WEB_PORT_FORWARD=8000
DOCKER_DB_PORT_FORWARD=5432

DOCKER_CELERY_FLOWER_HOST=127.0.0.1

# What volume path should be used? In dev we want to volume mount everything
# so that we can develop our code without rebuilding our Docker images.
DOCKER_WEB_VOLUME=.:/code

# What CPU and memory constraints will be added to your services? When left at
# 0, they will happily use as much as needed.
# DOCKER_POSTGRES_CPUS=0
# DOCKER_POSTGRES_MEMORY=0
# DOCKER_REDIS_CPUS=0
# DOCKER_REDIS_MEMORY=0
# DOCKER_WEB_CPUS=0
# DOCKER_WEB_MEMORY=0
# DOCKER_WORKER_CPUS=0
# DOCKER_WORKER_MEMORY=0

# Email Sever Settings
# What ip:port should be published back to the Docker host for the mail web UI?
# This is typically only used in development but it's still a reasonable idea
# to consider restricting this to localhost if you're on a shared network.
#
# But at the same time if you want to connect on a device such as your phone
# then you'll want it open to everyone which is how it's set up below.
# DOCKER_MAIL_PORT_FORWARD=127.0.0.1:1080
DOCKER_MAIL_PORT_FORWARD=1080
EMAIL_HOST=mailcatcher
EMAIL_PORT=1025
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# EMAIL_USE_TLS=False
# EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL="vouch DEV<no-reply@dev.vouch.co>"
SERVER_EMAIL="vouch DEV Server<no-reply-server@dev.vouch.co>"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SES_REGION_NAME=us-east-1
AWS_SES_REGION_ENDPOINT=email.us-east-1.amazonaws.com

# Sentry Settings
SENTRY_DSN=

# Posthog
POSTHOG_API_KEY=
POSTHOG_HOST=

# Cookie consent (GDPR-style banner in Cloudflare IPCountry regions)
ENABLE_GDPR_COOKIE_BANNER=false

# Ngrok 
NGROK_AUTH_TOKEN=
NGROK_URL=

# Cloudflare Turnstile
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
TURNSTILE_ENABLED=false